body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(#66a6ff, #89f7fe);
}

h1{
    margin: 0;
    padding: 0;
}

.object-detection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 2rem;
}

.predictions-container{
    background-color: black;
    padding: 1rem;
    border-radius: 5rem;
}
